*.dat
*.elc
*~
*_flymake.el
ido.last
org-*.el
places
projectile-*
recentf
server
session.*
timelog
/#recentf#            
/.cask
/.mc-lists.el
/.python-environments
/auto-save-list
/elpa
/flycheck_init.el
/jabber-avatar-cache
/projectile.cache
/sandbox
/tramp
/url
/var
/bookmarks
/.emacs.desktop
/eshell
