*.backup
*.bak
*.dat
**/*autosave*
*.elc
*_flymake.el
*~
.cache/
.lsp-session-v*
/#*
/.cask
/.emacs.desktop
/.mc-lists.el
/.python-environments
/auto-save-list
/bookmarks
/elpa
/eshell
/flycheck_init.el
/persp-confs
/projectile.cache
/projects
/sandbox
/tramp
/transient
/url
/var
ido.last
places
projectile-*
recentf
server
session.*
timelog
